# ------------------------------
# Terraformファイル　見られたくないもの
# ------------------------------
terraform/.terraform/
terraform/terraform.exe
terraform/tfplan
terraform/terraform.tfvars
terraform/terraform.tfstate         
terraform/terraform.tfstate.backup 
